<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body class="bg">
    <nav class="nav">
        <ul class="list">
            <li class="nav_item"><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="text_color">Rick has a good joke for you</a></li>
            <li class="nav_item"><a href="/joke" class="text_color">Here's a joke</a></li>
            <li class="nav_item"><a href="/search" class="text_color">Search for a joke</a></li>
        </ul>
    </nav>
</body>
</html>