<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body class="bg">
    <h1><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="rick">Click on Me for the best joke</a></h1>
    <p><a href="/joke" class="mood">Here's a joke</a></p>
    <p><a href="/search" class="search">Search for a joke</a></p>
</body>
</html>