<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Joke Generator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body class="bg">
    <form action="/joke" method="POST">
        <label  for="joke" class="text_color">What mood are you in right now</label>
        <select name="joke" id="joke" class="text_color" required>
            {% for m in mood %}
                <option value="{{ m }}">{{ m }}</option>
            {% endfor %}
        </select>
        <button type="submit" class="text_color">Give me a joke!</button>
    </form>

    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}

    {% if joke %}
        <h3 class="text_color">Laughter is the best medicine!</h3>
        <p class="text_color">{{ joke }}</p>
    {% endif %}

    <p><a href="/" class="text_color">Back to home</a></p>
</body>
</html>