<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Dad Jokes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body class="bg">
    <h1  class="text_color">Search for Dad Jokes!</h1>
    
    <form method="POST">
        <label for="search_term" class="text_color" >Enter a term to search for jokes:</label>
        <input type="text" id="search_term" class="text_color" name="search_term" value="{{ search_term }}">
        <button type="submit" class="text_color">Search</button>
    </form>

    {% if jokes %}
        <h2  class="text_color">Jokes containing "{{ search_term }}":</h2>
        <ul class="text_color">
            {% for joke in jokes %}
                <li>{{ joke.joke }}</li>
            {% endfor %}
        </ul>
    {% else %}
        {% if search_term %}
            <p class="text_color">No jokes found for "{{ search_term }}, please try another term"</p>
        {% else %}
            <p class="text_color">Enter a search term to find some jokes!</p>
        {% endif %}
    {% endif %}

    <p><a href="/" class="text_color">Back to home</a></p>
</body>
</html>